.filters {
  display: flex;
  gap: 0.5rem;
}

.button {
  outline: none;
  cursor: pointer;
  border: 1px solid #252f50;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  background-color: transparent;
  color: #252f50;
  flex-basis: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.25s;
}

.buttonActive {
  composes: button;
  background-color: #252f50;
  color: #F7F7F7;
}

.button:hover {
  filter: brightness(1.2)
}